# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore rvmrc
/.rvmrc
/.ruby-gemset
/.ruby-version

# Ignore application configuration
/config/application.yml

# Ignore CarrierWave image
public/uploads
